In [3]:
import index_downloader as idx
import asyncio

# Run the asynchronous download function
# In a Jupyter Notebook, you can use 'await' at the top level.
await idx.download_all_idx_async(1994, 2025, update_mode=True)

# The rest of the code remains the same
df = idx.build_form4_index()
df.head()

üöÄ Initializing asynchronous download process...
üöÄ Running in fast update mode. Checking only for year 2025...
üîé Found 235 total files to check.

--- Download Summary ---
‚úÖ Downloaded: 0 new files.
‚è© Skipped: 235 existing files.
------------------------

üìÅ Found 7639 .idx files to process...
üöÄ Starting parallel parsing with 12 processes...

üîç Processing .idx files: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 7639/7639 [00:15<00:00, 484.72it/s]

‚úÖ Finished processing. Converting to DataFrame...
üì¶ Exported Form 4 data: 9081787 rows to all_form4_filings.csv and all_form4_filings.pkl

,Company,Form,CIK,Date,Path
0,ALLEN TEST CORP,4,849486,19951218,edgar/data/828912/0000828912-95-000047.txt
1,ALLEN TEST CORP,4/A,849486,19951218,edgar/data/828912/0000828912-95-000048.txt
2,ALLEN TEST EDGAR RELEASE 435,4,849486,19951218,edgar/data/828912/0000828912-95-000047.txt
3,ALLEN TEST EDGAR RELEASE 435,4/A,849486,19951218,edgar/data/828912/0000828912-95-000048.txt
4,ACORN VENTURE CAPITAL CORP,4,737243,19960109,edgar/data/737243/0000904440-96-000003.txt

In [8]:
display(df.describe())
df["Form"].value_counts().reindex(["4", "4/A"]).fillna(0)

,Company,Form,CIK,Date,Path
count,9081787,9081787,9081787,9081787,9081787
unique,285015,2,273778,7004,9046376
top,INTERNATIONAL SPEEDWAY CORP,4,51548,20050104,edgar/data/1022409/0001022409-98-000026.txt
freq,12378,8829006,12378,8802,18

Form
4      8829006
4/A     252781
Name: count, dtype: int64